@import "./scss/env.scss";
@import "./scss/article.scss";
@import "./scss/fonts.scss";

body {
  background-color: $bg;
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  color: $fg;
}

a {
  color: $ac;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}