article.post-content {
  pre,
  code {
    background-color: $code;
    font-family: Hack, monospace;
    font-size: 0.9em;
  }

  pre {
    padding: 1rem;
    line-height: 1.3;

    code {
      cursor: text;
    }
  }

  li ul {
    margin: 0 0 0 1em;
    padding: 0;
  }

  >table {
    border-collapse: collapse;
    display: block;
    overflow-x: auto;
    word-break: keep-all;

    >thead {
      background-color: #98989837;
    }

    >thead>tr>th,
    >tbody>tr>td {
      border: 1px solid $br;
      padding: 10px;
    }
  }
}